*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', arial, sans-serif;
	display: flex;
	align-items: center;
}

.container{
	position: relative;
	margin: 0 auto;
}

.topo{
	padding: 5px;
	background-color: #363D3C;
	color: #F0F8F6;
}

.chat{
	width: 320px;
	height: 420px;
	border: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
}

.texto{
	margin-top: 5px;
	width: 320px;
	height: 35px;
	padding: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

input:focus{
	outline: 1px solid gray;
}

.typed-text{
	margin: 10px 0;
	padding: 5px;
	width: 96%;
	word-wrap: break-word;
	background-color: #F0F8F6;
	border-radius: 5px;
	box-shadow: 1px 1px 2px lightgray;
}

.btn-send{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 35px;
	border: none;
	background: none;
}

.texto-resposta{
	padding: 5px;
	position: relative;
	left: 16px;
	width: 96%;
    background-color: #F6F8F0;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
}

.texto-resposta img, .typed-text img{
	margin-right: 5px;
}

@media (min-width: 756px){
	.chat{
		width: 450px;
	}
	.texto{
		width: 450px;
	}
}

